*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(126, 168, 117);
}

button:hover{
    background-color: rgb(88, 143, 95);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-parrafo{ color:rgb(126, 168, 117); }

header{
    background-color: rgb(126, 168, 117);
    
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: white;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header a:hover{
    color: green;
}

#principal{
    font-size: xx-small;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/mateinicio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#principal h1{
    color: white;
}


#principal button{
    font-size: 1.75em;
}

#quienesomos .container{
    text-align: center;
    padding: 200px 12px;
}

#preparacion{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#preparacion .container{
    padding: 150px 12px;
}

#preparacion h2{
    margin-top: 0;
    font-size: 3.2em;
}

#preparacion p{
    display: none;
}

#preparacion .parte{
    background-position: center center;
    background-size: cover;
    padding: 30px 0px;
    margin: 130px;
    border-radius: 25px;
}

.parte:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/mate1.jpg");

}

.parte:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/mate2.jpg");
}

.parte:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/mate3.jpg");

}

#info .container{
    text-align: center;
    padding: 250px 12px;
}

#info li{
    margin: 16px 0px;
    font-weight: bold;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 3vw;
}

#final button{
    font-size: 3vw;
}

footer{
    background-color: rgb(126, 168, 117);
}

footer p{
    margin: 0;
    padding: 15px;
    color: black;
}

footer .container{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

@media (max-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #principal h1{
        font-size: 5em;
    }

    #quienesomos .container{
        display: flex;
        justify-content: space-evenly;
    }

    #quienesomos .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #quienesomos h2{
        margin-top: 0px;
    }

    #quienesomos .img-container{
        background-image: url("media/mateando.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    #preparacion .preparacion{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    #preparacion p{
        display: block;
        margin: 1px;
        padding: 1px;
        margin-bottom: 30px;
    }

    #preparacion h2{
        font-size: 4em;
        margin: 5px;
    }

    #preparacion h3{
        margin-top: 0;
    }

    #preparacion .parte{
        padding: 85px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 1px 2px 10px rgba(0,0,0,0.5);
    }

    .parte:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/mate1.jpg");

    }

    .parte:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/mate2.jpg");
    }

    .parte:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/mate3.jpg");

    }

    #info {
        color: whitesmoke;
        background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    )
    ,url("media/tomarmate.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    }

    #info .container{
        text-align: initial;
        font-weight: bold;
    }

    #info ul{
        margin-left: 100px;
    }

    #final h2{
        font-size: 5em;
    }

    #final a{
        color: whitesmoke;
        text-decoration: none;
    }

    #final button{
        font-size: 1.5em;
        color: white;
    }

    .buttons{
        max-width: 850px;
        display: flex;
        justify-content: space-around;
    }

    .buttons a{
        text-decoration: none;
        font-size: 28px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background: rgb(88, 143, 95);
        color: #f1f1 50%;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
        transition: all .4s ease-in-out;

    }

    .buttons a:hover{
        transform: scale(1.2);
    }

    footer .container{
        justify-content: flex;
    }
}

@media (min-width: 1200px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #principal h1{
        font-size: 5em;
    }

    #quienesomos .container{
        display: flex;
        justify-content: space-evenly;
    }

    #quienesomos .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #quienesomos h2{
        margin-top: 0px;
    }

    #quienesomos .img-container{
        background-image: url("media/mateando.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    #preparacion .preparacion{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    #preparacion p{
        display: block;
        margin: 1px;
        padding: 1px;
        margin-bottom: 30px;
    }

    #preparacion h2{
        font-size: 4em;
        margin: 5px;
    }

    #preparacion h3{
        margin-top: 0;
    }

    #preparacion .parte{
        padding: 85px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 1px 2px 10px rgba(0,0,0,0.5);
    }

    .parte:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/mate1.jpg");

    }

    .parte:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/mate2.jpg");
    }

    .parte:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/mate3.jpg");

    }

    #info {
        color: whitesmoke;
        background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    )
    ,url("media/tomarmate.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    }

    #info .container{
        text-align: initial;
        font-weight: bold;
    }

    #info ul{
        margin-left: 100px;
    }

    #final h2{
        font-size: 5em;
    }

    #final a{
        color: whitesmoke;
        text-decoration: none;
    }

    #final button{
        font-size: 1.5em;
        color: white;
    }

    .buttons{
        min-width: 700px;
        display: flex;
        justify-content: space-around;
    }

    .buttons a{
        text-decoration: none;
        font-size: 28px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background: rgb(88, 143, 95);
        color: #f1f1 50%;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
        transition: all .4s ease-in-out;

    }

    .buttons a:hover{
        transform: scale(1.2);
    }

    footer .container{
        justify-content: flex;
    }
}

@media (min-width: 1200px) {
    #info{
        background-position-x: calc(100%);
    }
    footer .container{
        justify-content: flex;
    }

    .buttons{
        min-width: 700px;
        display: flex;
        justify-content: space-around;
    }

    .buttons a{
        text-decoration: none;
        font-size: 28px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background: rgb(88, 143, 95);
        color: #f1f1 50%;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
        transition: all .4s ease-in-out;

    }

    .buttons a:hover{
        transform: scale(1.2);
    }

    footer .container{
        justify-content: flex;

  }
}
